---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Aviso de Privacidad"
  description="Aviso de Privacidad de Empátiko"
>
  <!-- Banner -->
  <section
    class="bg-primary-1 flex flex-col items-center text-white py-16 lg:py-20 px-6"
  >
    <div class="container">
      <h1 class="text-xl lg:text-2xl font-light mb-2">
        Aviso de Privacidad de Empátiko
      </h1>
      <p class="text-sm lg:text-base xl:text-lg font-semibold mb-4">
        Fecha de última actualización: Julio de 2024.
      </p>
    </div>
  </section>

  <!-- Contenido -->
  <section
    class="flex flex-col items-center px-6 md:px-12 py-20 bg-white text-primary-1"
  >
    <div
      class="container space-y-8 text-sm md:text-base lg:text-lg leading-relaxed"
    >
      <div>
        <h2 class="font-bold mb-2">1. Identidad y domicilio del responsable</h2>
        <p>
          El presente Aviso de Privacidad (“El Aviso”) establece los términos y
          condiciones bajo los cuales Distribuidora Sevimex, S.A. de C.V.,
          representante de la marca “EMPÁTIKO”, (en adelante referido como
          “EMPÁTIKO” o ”SEVIMEX”), con domicilio en Rodolfo Gaona No. 81, Piso
          10, Colonia Lomas de Sotelo, Alcaldía Miguel Hidalgo,  Ciudad de
          México, C.P. 11200, y página de Internet  [***] (“Sitio Web”), en su
          calidad de Responsable, recopilará, procesará y/o tratará sus datos
          personales de acuerdo con las disposiciones previstas en “El Aviso,”
          en estricto cumplimiento de la Ley Federal de Protección de Datos
          Personales en Posesión de Particulares (LFPDPPP), y demás
          legislaciones aplicables (en adelante la “Ley”). La protección de su
          privacidad es de suma importancia para “EMPÁTIKO”, por lo tanto, le
          proporcionamos información sobre cuándo “EMPÁTIKO” recopila, procesa y
          utiliza sus datos personales.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">2. Definición de datos personales</h2>
        <p>
          Para los fines del presente Aviso de Privacidad, por “Datos
          Personales” se entenderá cualquier información concerniente a una
          persona física identificada o identificable; mientras que por “Datos
          Personales Sensibles”, se entenderán aquellos datos personales que
          afecten la esfera más íntima de su titular, o cuya utilización
          indebida pueda dar origen a discriminación o conlleve un riesgo grave
          para éste.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">3. Datos personales que recabamos</h2>
        <p>
          Los datos personales que usted proporciona para interactuar con
          “EMPÁTIKO” y llenar cualquier formulario, versarán según la naturaleza
          de la interacción. Entre los datos personales que podría solicitarse
          se encuentran los siguientes:
        </p>
        <ul class="list-disc pl-5 mt-2 space-y-1">
          <li>Nombre y apellidos</li>
          <li>Correo electrónico</li>
          <li>Número telefónico</li>
          <li>Género</li>
          <li>Ciudad y Estado</li>
          <li>Nombre de la empresa o institución que representa</li>
          <li>Teléfono de la empresa o institución que representa</li>
          <li>Actividad o giro de la empresa o institución que representa</li>
          <li>Información técnica al navegar por el “Sitio Web”</li>
        </ul>
        <p class="mt-2">
          Información que usted proporciona a “EMPÁTIKO” Los datos personales
          mencionados anteriormente se recopilarán a través de: El suministro
          voluntario y directo de su información vía electrónica, en el “Sitio
          Web”.
          <br />
          <br />
          Información recopilada de fuentes disponibles públicamente Incluso, antes
          de interactuar directamente con usted, “EMPÁTIKO” podrá obtener información
          sobre usted de fuentes disponibles públicamente como internet, redes sociales,
          listas de sanciones y otras fuentes en línea e impresas.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">4. Finalidades</h2>
        <p>
          En “EMPÁTIKO”, utilizamos sus datos personales para los siguientes
          propósitos:
        </p>
        <ul class="list-disc pl-5 mt-2 space-y-1">
          <li>Confirmación de su identidad y datos de contacto.</li>
          <li>Creación de una cuenta de usuario en nuestra plataforma.</li>
          <li>
            Enviarle nuestra boletín o catálogo a su correo cuando se suscriba
            al mismo.
          </li>
          <li>
            Recomendación por correo electrónico sobre nuevos lanzamientos de
            producto, campañas y promociones.
          </li>
          <li>
            Ubicación de información técnica, solicitudes, reparaciones,
            servicio técnico y garantía.
          </li>
          <li>
            Retroalimentación de contenido relevante sobre consejos de
            utilización, mantenimiento y servicio de nuestros productos.
          </li>
          <li>
            Realización de encuestas para mejorar nuestros productos y
            servicios.
          </li>
          <li>
            Envió de artículos promocionales elaborados por especialistas en el
            campo.
          </li>
        </ul>
        <p class="mt-2">
          Siempre que no manifieste oposición, le podremos hacer llegar
          información publicitaria sobre nuestros productos y servicios. Usted
          puede en cualquier momento dejar de recibir este tipo de correos
          informando su rechazo al correo electrónico [***].
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">
          5. Datos personales de menores e incapaces
        </h2>
        <p>
          “EMPÁTIKO” se compromete con la privacidad de los menores e incapaces.
          Por esta razón, no recopilamos ni procesamos datos personales de
          menores e incapaces sin el consentimiento expreso de sus padres,
          tutores o representantes legales.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">6. Transferencia de datos personales</h2>
        <p>
          “EMPÁTIKO” puede compartir ciertos datos personales con terceros, ya
          sean nacionales o extranjeros, con el fin de cumplir con las
          finalidades descritas anteriormente. Estos terceros podrán incluir:
        </p>
        <ul class="list-disc pl-5 mt-2 space-y-1">
          <li>
            Otras compañías afiliadas o subsidiarias de “EMPÁTIKO” o de
            “SYMEVIK”.
          </li>
          <li>
            Personas físicas o morales independientes de “EMPÁTIKO” o de
            “SYMEVIK” con los cuales sea necesario compartir sus datos en
            relación con los propósitos descritos anteriormente.
          </li>
          <li>
            Entidades que adquieran todo o parte de “EMPÁTIKO” en caso de
            fusión, ventas de unidades de negocio o de reestructuración para
            fines administrativos.
          </li>
        </ul>
        <p class="mt-2">
          Cuando “EMPÁTIKO” comparta sus datos personales con terceros, se
          asegurará que estos tomen las medidas necesarias para proteger la
          confidencialidad y seguridad de dicha información. “EMPÁTIKO” exigirá
          que estos terceros cumplan con “El Aviso” y las Políticas de
          “EMPÁTIKO”, y les prohibirá utilizar los datos personales para fines
          distintos a los originalmente recabados. Si estos terceros se
          convierten en responsables del tratamiento de datos personales,
          “EMPÁTIKO” se asegurará de que proporcionen a los titulares de los
          datos los correspondientes Avisos de Privacidad.
        </p>
        <p class="mt-2">
          Asimismo, “EMPÁTIKO” puede divulgar sus datos personales a terceros,
          tanto nacionales como extranjeros, independientes a “EMPÁTIKO”, sin
          necesidad de su consentimiento, cuando dicha transferencia esté
          prevista y autorizada por la Ley.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">7. Base legal del procesamiento de datos</h2>
        <p>
          La base legal para el procesamiento y/o tratamiento de sus datos
          personales se fundamenta en las siguientes disposiciones:
        </p>
        <ul class="list-disc ps-6 mt-2 space-y-1">
          <li>
            a. La Ley Federal de Protección de Datos Personales en Posesión de
            los Particulares (LFPDPPP);
          </li>
          <li>
            b. Su aceptación del presente Aviso y los términos establecidos en
            el mismo;
          </li>
          <li>
            c. La necesidad de procesar sus datos personales para la ejecución
            de un acuerdo celebrado entre usted y el responsable del
            tratamiento;
          </li>
          <li>
            d. El cumplimiento de una obligación legal a la que “EMPÁTIKO” está
            sujeto a cumplimentar;
          </li>
          <li>
            e. La necesidad del procesamiento para los fines de un interés
            legítimo perseguido por “EMPÁTIKO” o por terceros, a excepción de
            cuando dichos intereses sean anulados por sus derechos y libertades
            fundamentales que requieren protección de datos personales.
          </li>
        </ul>
      </div>

      <div>
        <h2 class="font-bold mb-2">
          8. Cuánto tiempo retiene el responsable sus datos personales
        </h2>
        <p>
          En cumplimiento con el artículo 11 de la Ley Federal de Protección de
          Datos Personales en Posesión de Particulares (LFPDPPP), los datos
          personales relacionados con sus interacciones con “EMPÁTIKO”, serán
          eliminados en un plazo máximo de 72 (setenta y dos) meses después de
          la finalización de la última interacción con usted, a menos que
          estemos legalmente obligados a conservar sus datos personales.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">
          9. Uso de tecnologías de seguimiento (cookies y web empátikos)
        </h2>
        <p>
          En el “Sitio Web” de “EMPÁTIKO” utilizamos tecnologías de seguimiento
          como cookies y web EMPÁTIKOs. La información recopilada mediante estas
          tecnologías incluye direcciones de Protocolo de Internet (IP), tipo de
          sistema operativo, tipo de navegador y la ruta que usted sigue durante
          su visita a la página web de “EMPÁTIKO”. Esta información se utiliza
          para personalizar y mejorar el contenido de nuestro “Sitio Web”,
          evaluar su uso y simplificar su experiencia cuando regrese a
          visitarlo.
        </p>
        <p class="mt-2">
          Es posible deshabilitar el uso de cookies en diferentes navegadores. A
          continuación, se detallan los pasos para deshabilitarlas en “Google
          Chrome” como ejemplo:
        </p>
        <ol class="list-decimal ps-6 mt-2 space-y-1">
          <li>Ir al Menú “Herramientas”</li>
          <li>Hacer clic en “Borrar datos de navegación”</li>
          <li>
            Seleccionar la opción “Eliminar cookies y otros datos de sitios y de
            complementos”
          </li>
          <li>Confirmar la acción haciendo clic en “Aceptar”</li>
        </ol>
        <p class="mt-2">
          Es importante tener en cuenta que, si usted decide deshabilitar o
          bloquear otros mecanismos de seguimiento, es posible que el “Sitio
          Web” no funcione correctamente.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">10. Enlaces a otros sitios web</h2>
        <p>
          Nuestra página web puede incluir enlaces a otros sitios que no son
          propiedad de “EMPÁTIKO”, con el fin de brindarle mayor conveniencia.
          Sin embargo, “EMPÁTIKO” no ha revisado las políticas o avisos de
          privacidad de dichos sitios, por lo que no puede garantizar ni hacerse
          responsable del contenido ni del tratamiento que esos sitios den a sus
          datos personales. Es importante tener esto en cuenta al acceder a esos
          enlaces y revisar las políticas de privacidad de cada sitio antes de
          proporcionar cualquier información personal.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">
          11. Procedimiento para ejercer los derechos de acceso, rectificación y
          oposición (“derechos arco”), así como para limitar el uso, divulgación
          y revocar el consentimiento otorgado para el tratamiento.
        </h2>
        <p>
          Usted, como titular de sus datos personales, en los términos de lo
          establecido por el artículo 22 de Ley Federal de Protección de Datos
          Personales en Posesión de Particulares (LFPDPPP) podrá en cualquier
          momento ejercer sus derechos de acceso, rectificación, cancelación y
          oposición al tratamiento de sus datos personales, así como a revocar
          su consentimiento para el tratamiento de sus datos personales, como a
          continuación se detalla:
        </p>
        <ul class="list-disc ps-6 mt-2 space-y-1">
          <li>
            <strong>Acceso.</strong> – Tiene derecho a ser informado sobre qué datos
            personales están almacenados en las bases de datos de “EMPÁTIKO”, para
            qué fines se utilizan, el origen de esos datos y cualquier comunicación
            que se haya realizado con ellos.
          </li>
          <li>
            <strong>Rectificación.</strong> – Tiene derecho a solicitar la corrección
            o actualización de sus datos personales en caso de que sean inexactos
            o incompletos. Siempre que usted sea consciente de que deben realizarse,
            tiene la obligación de informarlo a “EMPÁTIKO”.
          </li>
          <li>
            <strong>Cancelación.</strong> – Tiene derecho a solicitar que sus datos
            personales sean eliminados total o parcialmente de la base de datos de
            “EMPÁTIKO”. Esta solicitud dará lugar a un período de bloqueo, tras el
            cual se procederá la supresión de los datos. Es importante tener en cuenta
            que hay casos en los que la cancelación no es posible según lo establecido
            por la LFPDPPP y otras disposiciones legales aplicables.
          </li>
          <li>
            <strong>Oposición.</strong> – Usted tiene derecho de oponerse, por motivos
            legítimos, al tratamiento de sus datos personales por parte de “EMPÁTIKO”.
            En el caso de que su oposición esté relacionada con la recepción de determinadas
            comunicaciones, incluiremos en dichos comunicados la opción para darse
            de baja y dejar de recibirlos. Por favor, envíe un correo electrónico
            a la dirección [***] con el mensaje “Dejar de recibir” para ser eliminado
            de la lista de distribución. Tenga en cuenta que esta eliminación no
            es inmediata y puede tardar algunos días (aproximadamente 10 días).
          </li>
        </ul>
        <p class="mt-2">
          Si desea ejercer sus derechos de Acceso, Rectificación, Cancelación u
          Oposición ("DERECHOS ARCO"), así como limitar el uso o revocar el
          consentimiento para el uso de sus datos personales, le solicitamos que
          nos envíe su solicitud de acuerdo con los términos establecidos en la
          normativa de protección de datos aplicable. Puede hacerlo por correo
          electrónico a la dirección [***].
        </p>
        <p class="mt-2">
          Usted tiene el derecho de limitar el uso y divulgación de sus datos
          personales, así como de revocar el consentimiento que nos ha otorgado
          para su tratamiento, con el fin de que dejemos de utilizarlos. Para
          ejercer este derecho, debe presentar su solicitud dirigida vía correo
          electrónico a la dirección antes señalada.
        </p>
        <p class="mt-2">
          Es importante tener en cuenta que cuando “EMPÁTIKO” está legalmente
          obligado a conservar los datos personales proporcionados para el
          cumplimiento de obligaciones legales, se aplicará un período de
          bloqueo antes de cancelar los datos. El consentimiento no podrá ser
          revocado hasta que se haya cumplido adecuadamente con las obligaciones
          legales, según lo establecido en la legislación aplicable.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">12. Medidas de seguridad</h2>
        <p>
          “EMPÁTIKO” conservará sus datos personales durante el tiempo necesario
          para gestionar la relación con usted. Para garantizar la seguridad de
          los datos personales recopilados, “EMPÁTIKO” implementa medidas de
          seguridad administrativas, técnicas y físicas adecuadas. Estas medidas
          buscan prevenir el daño, la pérdida, la alteración, la destrucción, el
          acceso no autorizado o el tratamiento indebido de los datos.
        </p>
        <p class="mt-2">
          Todos los datos personales almacenados en formato electrónico se
          mantienen en bases de datos confidenciales y seguras. “EMPÁTIKO”
          realiza evaluaciones periódicas de sus equipos y procedimientos de
          seguridad, realizando modificaciones cuando sea necesario.
        </p>
        <p class="mt-2">
          Además, “EMPÁTIKO” utiliza procedimientos y controles legales
          pertinentes según la regulación aplicable para evitar el acceso no
          autorizado o la divulgación indebida de datos personales, y para
          mantener la exactitud, integridad, disponibilidad y confidencialidad
          de los mismos.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">13. Cambios al aviso de privacidad</h2>
        <p>
          “EMPÁTIKO” se reserva el derecho de actualizar el presente Aviso de
          Privacidad para reflejar cambios en nuestras prácticas de protección
          de datos, derivados de nuestro proceso de mejora continua, así como de
          cambios legales, reglamentarios y administrativos.
        </p>
        <p class="mt-2">
          En caso de que “EMPÁTIKO” realice cambios o actualizaciones a este
          Aviso, se lo notificará mediante el envío de un comunicado o poniendo
          a su disposición el nuevo Aviso de Privacidad modificado en nuestro
          “Sitio Web”. Si es necesario, según la legislación aplicable, se
          solicitará su consentimiento respecto de las actualizaciones
          realizadas.
        </p>
      </div>

      <div>
        <h2 class="font-bold mb-2">14. Consentimiento</h2>
        <p>
          Le informamos que al decidir voluntariamente proporcionarnos sus datos
          personales a través de cualquier medio disponible en nuestra página
          web, sitios y aplicaciones, así como con el llenado de formularios,
          entendemos que está de acuerdo con nuestro Aviso de Privacidad y el
          tratamiento que se llevará a cabo con sus datos personales, incluyendo
          las transferencias descritas.
        </p>
      </div>
    </div>
  </section>

  <style>
    /* Puedes personalizar aún más los estilos aquí si lo necesitas */
  </style>
</Layout>
