---
import Layout from "@layouts/Layout.astro";
import DownloadSoporte from "@components/soporte/DownloadSoporte";
---

<Layout title="Soporte" description="Empatiko">
  <section class="w-full bg-[#F4F6F9] py-16 px-4">
    <div class="container mx-auto text-center mb-12">
      <h2 class="text-secondary-1 font-semibold text-lg md:text-xl mb-2">
        ¿Necesitas ayuda?
      </h2>
      <p class="text-neutral-2 text-sm md:text-base">
        Escríbenos tu consulta y te responderemos.
      </p>
    </div>

    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
      <a
        href="mailto:contacto@empatiko.com.mx"
        class="bg-gradient-to-br from-[#DBE6F7]/40 to-[#F4F6F9]/10 rounded-xl shadow-sm
        p-6 md:px-12 md:py-14 hover:shadow-md transition text-left"
      >
        <div class="flex flex-col items-start gap-4">
          <div class="text-secondary-1 text-xl">
            <svg
              width="44"
              height="30"
              viewBox="0 0 44 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M43.1141 4.60692C43.1141 3.41702 42.5226 2.36589 41.6183 1.72945L29.4503 13.8994L42.7352 27.1843C42.9769 26.7073 43.1141 26.1683 43.1141 25.597V4.60692ZM22 21.3509L15.1758 14.5258L1.77181 27.9297C2.4161 28.6559 3.35586 29.1141 4.403 29.1141H39.597C40.6441 29.1141 41.5836 28.6558 42.2279 27.9297L28.824 14.5258L22 21.3509ZM4.403 1.08982C3.98213 1.08982 3.57855 1.16391 3.20449 1.29948L22 20.0979L40.7952 1.29948C40.4212 1.16396 40.0178 1.08982 39.597 1.08982H4.403ZM0.885906 25.597C0.885917 26.1683 1.02285 26.7073 1.26455 27.1843L14.5494 13.8994L2.38145 1.72945C1.47719 2.3659 0.885906 3.41711 0.885906 4.60692V25.597ZM44 25.597C44 28.0287 42.0287 30 39.597 30H4.403C1.97134 30 3.65276e-05 28.0287 0 25.597V4.60692C0 2.17523 1.97132 0.203918 4.403 0.203918H39.597C42.0287 0.203918 44 2.17523 44 4.60692V25.597Z"
                fill="#1F4060"></path>
            </svg>
          </div>
          <div>
            <h3 class="font-medium font-inter text-lg">Escribir a soporte</h3>
            <p
              class="text-base lg:text-lg font-inter font-light text-secondary-1"
            >
              conecta@empatiko.com.mx
            </p>
          </div>
        </div>
      </a>

      <a
        href="tel:+525555340900"
        class="bg-gradient-to-br from-[#DBE6F7]/40 to-[#F4F6F9]/10
        rounded-xl shadow-sm p-6 md:px-12 md:py-14 hover:shadow-md transition text-left"
      >
        <div class="flex flex-col items-start gap-4">
          <div class="text-secondary-1 text-xl">
            <svg
              width="44"
              height="41"
              viewBox="0 0 44 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.83261 6.53112C6.41359 6.53112 7.00602 6.53392 7.52984 6.56165C7.69096 6.56947 8.17458 6.51536 8.61567 6.72748C9.09387 6.95748 9.50918 7.4512 9.8829 8.36558C10.2481 9.25651 10.8684 10.7983 11.4232 12.1692C11.9144 13.3827 12.3449 14.4388 12.5117 14.8199L12.5665 14.9406L12.5679 14.9438L12.6126 15.0395C12.8328 15.5291 12.9965 16.1725 12.6374 16.9036C12.3553 17.4778 12.1843 17.9078 11.7036 18.4797C11.2944 18.9665 10.7766 19.6503 10.3689 20.0653C10.1399 20.2983 9.99186 20.4632 9.92616 20.6432C9.8793 20.7717 9.85791 20.9575 10.0219 21.2702L10.0571 21.3344L10.0577 21.3356L10.1658 21.5226C10.7771 22.5677 12.4436 25.2198 14.8307 27.387C18.1133 30.3645 20.8454 31.2688 21.7624 31.7354C22.1709 31.9432 22.422 31.991 22.5941 31.9699C22.7478 31.951 22.9107 31.8678 23.1239 31.6194L23.1245 31.6189L23.3668 31.3347C24.0362 30.5441 25.3634 28.9354 25.8554 28.1806L25.8559 28.1801L25.92 28.0855C26.2441 27.6267 26.6191 27.3674 27.0756 27.3142C27.5138 27.2631 27.956 27.4173 28.3434 27.5613C28.7701 27.72 30.071 28.3461 31.3422 28.9708C32.6272 29.6023 33.9217 30.2524 34.3609 30.4759L34.3612 30.4762L34.3669 30.4791L34.9622 30.7747C35.1493 30.8672 35.3212 30.9539 35.4666 31.0353C35.7573 31.1982 36.0513 31.3957 36.2242 31.6922C36.3349 31.882 36.3788 32.1561 36.3981 32.4125C36.4193 32.6938 36.4158 33.0414 36.3823 33.4354C36.3152 34.2244 36.1256 35.2269 35.7495 36.3021V36.3027C35.3335 37.4872 34.1719 38.5491 32.9777 39.328C31.7729 40.1138 30.4205 40.6854 29.4973 40.8258C27.954 41.0598 25.9746 41.1596 23.793 40.4551L23.7924 40.4548C22.5165 40.041 20.8734 39.4889 18.7691 38.5637C9.87027 34.6529 4.07273 25.5517 3.65865 24.9878C3.43172 24.6809 2.52203 23.4504 1.66811 21.7383C0.816123 20.0301 0 17.8042 0 15.5147C3.65698e-05 10.9507 2.37345 8.68167 3.17586 7.7897C4.07443 6.79084 5.1495 6.53112 5.83261 6.53112ZM0.885966 15.5147C0.885966 17.6013 1.6351 19.6795 2.45832 21.33C3.17589 22.7687 3.93494 23.8536 4.25736 24.2969L4.36724 24.4469L4.36811 24.448L4.51491 24.6588C5.52996 26.1381 10.842 33.9122 18.7178 37.5543L19.1206 37.736L19.5025 37.9018C21.3862 38.7112 22.8767 39.2115 24.0615 39.5957C26.0674 40.2434 27.8975 40.1568 29.3664 39.9341L29.5137 39.908C30.2773 39.755 31.428 39.2678 32.4995 38.5689C33.6531 37.8165 34.6018 36.8916 34.9152 35.9992C35.2654 34.998 35.4391 34.0712 35.4998 33.3576C35.5301 33.0003 35.5315 32.7032 35.5148 32.4815C35.4963 32.2367 35.46 32.1486 35.4623 32.1522C35.4196 32.079 35.3133 31.9789 35.0395 31.8255C34.7655 31.672 34.4325 31.5204 33.9707 31.2854L33.9646 31.2825C33.5295 31.0611 32.2387 30.4129 30.9569 29.7829C29.661 29.1461 28.4131 28.5473 28.0394 28.4084C27.6266 28.2549 27.3762 28.1867 27.1765 28.21C27.0255 28.2276 26.8365 28.3078 26.5934 28.6796C25.9919 29.6023 24.2978 31.6249 23.7907 32.2126L23.791 32.2129C23.4934 32.5596 23.1468 32.8103 22.7003 32.8651C22.2722 32.9176 21.832 32.7789 21.3664 32.542C20.5351 32.1189 17.6384 31.1416 14.2409 28.06C11.5896 25.653 9.80729 22.6916 9.29168 21.7885C8.98349 21.2513 8.936 20.7669 9.09557 20.3295C9.23956 19.9347 9.53726 19.6366 9.74245 19.4278C10.1203 19.0433 10.5655 18.4467 11.0304 17.8936C11.4238 17.4257 11.5423 17.1162 11.8449 16.5003C12.0459 16.091 11.9632 15.738 11.7739 15.3438L11.7122 15.2082C11.5292 14.7921 11.0853 13.7013 10.6042 12.5126C10.0479 11.1381 9.42921 9.60092 9.065 8.71251V8.71192C8.72998 7.89222 8.43061 7.63597 8.237 7.54286C8.00704 7.43227 7.86238 7.48142 7.48514 7.46244L7.48399 7.46214C6.98608 7.43579 6.41506 7.43279 5.83261 7.43279C5.35216 7.43279 4.53144 7.61807 3.82938 8.39845C3.03113 9.28579 0.886002 11.3266 0.885966 15.5147Z"
                fill="#1F4060"></path>
              <path
                d="M19.3881 10.6959L19.4331 10.7024L19.7491 10.7696C21.4793 11.1544 25.3815 12.3136 28.7317 15.914L28.8793 16.0748C31.7519 19.2406 32.7465 22.6651 33.1133 24.3701L33.1796 24.6926L33.1863 24.7381C33.2079 24.9656 33.0571 25.1772 32.8321 25.223C32.6073 25.2688 32.388 25.1326 32.3219 24.9142L32.311 24.8693L32.2478 24.5629C31.899 22.9421 30.9539 19.6902 28.2284 16.6865L28.0882 16.5342C24.9099 13.1184 21.2038 12.0164 19.5605 11.6507L19.26 11.587L19.2162 11.5756C19.0015 11.5086 18.8672 11.2856 18.9119 11.0566C18.9567 10.8277 19.1646 10.6742 19.3881 10.6959Z"
                fill="#1F4060"></path>
              <path
                d="M20.5815 0.00206582L20.6262 0.00881662L20.882 0.061649C23.6584 0.650703 30.5487 2.5425 36.4337 8.86586L36.6846 9.13942C41.896 14.8846 43.4751 21.1309 43.9915 23.7857C44.039 24.0299 43.8831 24.2671 43.6431 24.3155C43.4031 24.3639 43.1701 24.2051 43.1225 23.9609C42.6215 21.385 41.0884 15.3232 36.0336 9.75081L35.7902 9.48606C30.0827 3.35343 23.3961 1.51635 20.7011 0.944536L20.4531 0.892878L20.409 0.881724C20.1944 0.814624 20.0605 0.591678 20.1053 0.362793C20.1501 0.133832 20.3579 -0.0197861 20.5815 0.00206582Z"
                fill="#1F4060"></path>
            </svg>
          </div>
          <div>
            <h3 class="font-medium font-inter text-lg">Llamar a soporte</h3>
            <p
              class="text-base lg:text-lg font-inter font-light text-secondary-1"
            >
              +52 55 53 54 09 00
            </p>
          </div>
        </div>
      </a>

      <a
        href="https://wa.me/5216564139"
        class="bg-gradient-to-br from-[#DBE6F7]/40 to-[#F4F6F9]/10
        rounded-xl shadow-sm p-6 md:px-12 md:py-14 hover:shadow-md transition text-left"
      >
        <div class="flex flex-col items-start gap-4">
          <div class="text-secondary-1 text-xl">
            <svg
              width="44"
              height="35"
              viewBox="0 0 44 35"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M43.114 25.4965V4.50796C43.114 2.56703 41.5402 0.990652 39.5967 0.990639H4.40329C2.46235 0.990639 0.885964 2.5645 0.885964 4.50796V25.4965C0.886038 27.4374 2.45987 29.0136 4.40329 29.0136H6.382V29.8995H4.40329C1.97014 29.8995 7.42876e-05 27.9263 0 25.4965V4.50796C0 2.07476 1.97347 0.104675 4.40329 0.104675H39.5967C42.0299 0.104687 44 2.07816 44 4.50796V25.4965C43.9999 27.9297 42.0265 29.8995 39.5967 29.8995H14.465V29.0136H39.5967C41.5376 29.0136 43.114 27.4399 43.114 25.4965Z"
                fill="#1F4060"></path>
              <path
                d="M14.2677 29.0598C14.4687 28.9598 14.7169 29.0262 14.8393 29.2202C14.9617 29.4142 14.915 29.667 14.7381 29.8053L14.7012 29.8313L6.6182 34.9317C6.48172 35.0178 6.30903 35.0228 6.16772 34.9449C6.02641 34.867 5.93873 34.7181 5.93873 34.5567V29.4567C5.93873 29.212 6.13706 29.0137 6.38171 29.0137C6.62636 29.0137 6.82469 29.212 6.82469 29.4567V33.7532L14.2282 29.082L14.2677 29.0598Z"
                fill="#1F4060"></path>
              <path
                d="M13.9153 16.4773C14.7308 16.4773 15.3919 15.8162 15.3919 15.0007C15.3919 14.1852 14.7308 13.5241 13.9153 13.5241C13.0998 13.5241 12.4387 14.1852 12.4387 15.0007C12.4387 15.8162 13.0998 16.4773 13.9153 16.4773Z"
                fill="#1F4060"></path>
              <path
                d="M22.0014 16.4773C22.8169 16.4773 23.478 15.8162 23.478 15.0007C23.478 14.1852 22.8169 13.5241 22.0014 13.5241C21.1859 13.5241 20.5248 14.1852 20.5248 15.0007C20.5248 15.8162 21.1859 16.4773 22.0014 16.4773Z"
                fill="#1F4060"></path>
              <path
                d="M30.087 16.4773C30.9025 16.4773 31.5636 15.8162 31.5636 15.0007C31.5636 14.1852 30.9025 13.5241 30.087 13.5241C29.2715 13.5241 28.6104 14.1852 28.6104 15.0007C28.6104 15.8162 29.2715 16.4773 30.087 16.4773Z"
                fill="#1F4060"></path>
            </svg>
          </div>
          <div>
            <h3 class="font-medium font-inter text-lg">Mensajear a soporte</h3>
            <p
              class="text-base lg:text-lg font-inter font-light text-secondary-1"
            >
              55 1656 4139
            </p>
          </div>
        </div>
      </a>
    </div>
  </section>

  <DownloadSoporte client:visible />
</Layout>
