---

---

<section class="w-full bg-[#F4F6F9] py-16 md:py-20 lg:py-32 px-4">
  <div class="container mx-auto text-center">
    <p class="text-primary-1 font-light text-xl lg:text-2xl xl:text-3xl mb-10">
      ¡Descubre cómo nuestra tecnología puede ayudarte!
    </p>
    <div class="flex flex-col sm:flex-row gap-4 lg:gap-8 justify-center">
      <a
        href="/contacto"
        class="bg-primary-1 text-primary-3 px-6 py-3 rounded-full w-fit mx-auto sm:mx-0
        text-base lg:text-xl font-inter font-normal text-center hover:opacity-90 transition"
      >
        CONTACTA A VENTAS
      </a>
      <a
        href="https://meetings.hubspot.com/jtorres44"
        class="border border-primary-1 text-primary-1 px-6 py-3 rounded-full w-fit mx-auto sm:mx-0
         text-base lg:text-xl font-normal font-inter text-center hover:bg-secondary-1 hover:text-primary-3 transition"
      >
        AGENDA PRESENTACIÓN
      </a>
    </div>
  </div>
</section>
